@media (max-width: 1563px) {
  .header {
    &__inner {
      padding: 0 25px;
    }
  }

  .discr {
    &__inner {
      padding: 0 25px;
      width: 100%;
    }

    &__text {
      font-weight: 400;
    }
  }

  .skills {
    &__inner {
      width: 70%;
    }
  }

  .location {
    &__inner {
      margin-left: 55px;
    }
  }

  .social {
    &__inner {
      padding: 0 25px;
    }
  }
}

@media (max-width: 1399.98px) {
  .location {
    &__inner {
      margin-left: 25px;
    }

    &__item {
      &::before {
        display: none;
      }
    }
  }
}

@media (max-width: 1299.98px) {
  .grid-container {
    grid-template-columns: 110px 110px 110px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 6fr 1fr 4fr 1fr;
  }
}

@media (max-width: 1199.98px) {
  .grid-container {
    grid-template-columns: 110px 110px 110px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 4fr 1fr 3fr 1fr;
  }

  .discr {
    &__text {
      font-size: 24px;
    }
  }

  .skills {
    &__inner {
      padding-bottom: 20px;
      margin-top: 0px;
    }

    &__title {
      margin-top: 20px;
    }

    &__item {
      font-size: 20px;
    }
  }

  .project {
    &__text {
      font-size: 20px;
    }
  }
}

@media (max-width: 991.98px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 75px 350px 200px 75px 1fr minmax(75px, 150px);
    gap: 0px 0px;
    grid-template-areas:
      "header header header header header header header header header header header header"
      "discr discr discr discr discr discr img img img img img img"
      "skills skills skills skills skills skills location location location location location location"
      "projects projects projects projects projects projects projects projects projects projects projects projects"
      "project-1 project-1 project-1 project-1 project-2 project-2 project-2 project-2 project-3 project-3 project-3 project-3"
      "social social social social other-projects other-projects other-projects other-projects other-projects other-projects other-projects other-projects"
  }

  .projects {
    padding: 10px 0;
  }

  .img {
    border-right: 1px solid $black;
  }

  .social {
    &__inner {
      padding: 15px;
    }
  }

  .location {
    border-right: 1px solid $black;

    &__inner {
      margin: 0;
      padding: 15px;
    }
  }

  .skills {
    border-right: none;
    display: flex;
    justify-content: center;
    align-items: center;

    &__inner {
      padding: 15px;
      width: 100%;
    }

    &__title {
      margin: 0;
    }

    &__lists {
      display: block;
    }

    &__item {
      display: inline-block;
    }

    &__item+.skills__item {
      margin-right: 10px;
    }
  }
}


@media (max-width: 799.98px) {
  .title {
    font-size: 24px;
  }

  .discr {
    &__text {
      font-size: 20px;
    }
  }

  .location {
    align-items: flex-start;
    min-width: auto;

    &__item {
      font-size: 20px;
      margin: 10px 0;
    }
  }

  .skills {
    align-items: flex-start;

    &__inner {
      margin-top: 0px;
    }

    &__title {
      text-align: left;
      margin-bottom: 0px;
    }

  }

  .project {
    &__text {
      font-size: 17px;
      width: 100%;
      margin: 0;
      padding: 0 10px;
    }
  }

  .social {
    &__inner {
      flex-wrap: wrap;
    }

    &__link {
      width: 50%;
      display: flex;
      justify-content: center;
    }
  }

}

@media (max-width: 598.98px) {
  .grid-container {
    display: block;
  }

  .header {
    height: 70px;
  }

  .discr {
    border-right: 1px solid $black;

    &__inner {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }

  .img {
    height: 300px;

    &__face {}
  }

  .skills {
    border-right: 1px solid $black;
  }

  .social {
    border-right: 1px solid $black;

    &__inner {
      flex-wrap: nowrap;
    }
  }

  .projects {
     border-bottom: 1px solid lighten($black, 60%);
     border-bottom: 1px solid lighten($black, 30%);
  }

  .project {
    &__inner {
      text-align: left;
      padding: 15px;
    }

    &__title {
      margin: 0;
      padding: 0;
    }

    &__text {
      line-height: 130%;
      width: 100%;
      padding-left: 0;
      margin: 0;
    }
  }

  .project-1 {
    border-top: none;
    border-right: 1px solid $black;

  }

  .project-2 {
    border-right: 1px solid $black;
    border-top: 1px solid lighten($black, 60%);
  }

  .project-3 {
    border-top: 1px solid lighten($black, 60%);
  }

  .other-projects {
    border-top: none;
    min-height: 75px;
  }
}

@media (max-width: 575.98px) {
  .header {
    &__logo {
      display: none;
    }
    &__download-resume {
      width: 100%;
    }
  }
}