.header {
  position: relative;
  min-height: 75px;
  z-index: 5;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
    padding: 0 50px;
  }

  &__logo-text,
  &__download-resume {
    align-items: center;
    font-size: $base*7px;
    font-weight: 700;
  }

  &__download-resume {
    display: flex;
    align-items: center;
    color: $primary;
    text-decoration: none;
    height: 100%;
    margin: auto 0;
    transition: .5s;

    &:visited {
      color: $primary;
    }

    &:hover {
      color: $secondary;
    }
  }
}